# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Archivos del entorno local
.env
*.csv

# Archivos estáticos recolectados
staticfiles/
staticfiles_backup/

# Archivos del editor
.vscode/
.idea/
