body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f9;
}

header {
    padding: 20px;
    background-color: #cbd9f8;
    color: #050505;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 20px;
    font-size: 1.2em;
}

#sobre_laboratorio {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#sobre_laboratorio h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #3535a7;
    text-align: center;
}

#sobre_laboratorio img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

#sobre_laboratorio li {
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.8;
    list-style: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #cbd9f8;
    color: #080808;
}
