{% extends 'base.html' %}  
{% load static %}
{% block body_class %}contacto{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/contacto.css' %}">
{% endblock %}

{% block content %}
<section class="contenido-principal contacto-section">
    <div class="grid-contact">
    <!-- MAPA (izq) -->
    <!-- opción iframe simple (no API key) - reemplazá la query por la dirección si querés -->
    <div class="mapa">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2641.4174020264!2d-57.94581662516316!3d-34.90772187284685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e63f42a87621%3A0x3e7af482d6f46073!2sDepartment%20of%20Physics%20-%20UNLP!5e1!3m2!1sen!2sar!4v1758421311137!5m2!1sen!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>

    <!-- FORMULARIO (derecha) -->
    <div class="contacto-panel">
    <h2>Dejanos tu consulta</h2>
    <form id="contactForm" class="contact-form" method="post" action="{% url 'contacto' %}">
        {% csrf_token %}
        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre" type="text" required>

        <label for="nombre">Apellido</label>
        <input id="nombre" name="apellido" type="text" required>

        <label for="email">Email</label>
        <input id="email" name="email" type="email" required>

        <label for="asunto">Asunto</label>
        <input id="asunto" name="asunto" type="text">

        <label for="mensaje">Mensaje</label>
        <textarea id="mensaje" name="mensaje" rows="6" required></textarea>

        <div class="form-actions">
        <button type="submit" class="btn-primary">Enviar</button>
        </div>
    </form>

    <div id="msgServer" class="msg-server">{% if mensaje_servidor %}{{ mensaje_servidor }}{% endif %}</div>

    </div>
</div>
</section>
{% endblock %}

