/* General */
body {
    /*background-color: #f4fbff; /* Azul claro suave */
    color: #212121; /* Gris oscuro para buena legibilidad */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /*background-color: #fcfcfc; /* o el color que combine con tu logo */
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}

header img {
    width: 100%;
    /*max-width: 900px;*/
    height: auto;
    /*margin: 10px auto;*/
    display: block;
}

.swiper-pagination {
display: none;
}

/* Estilo para las imágenes del carrusel */
.swiper-slide img {
max-width: 900px;
height: auto;
margin: 0 auto;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Secciones */
section {
    margin: 30px auto;
    padding: 20px;
    border-bottom: 1px solid #bbb;
    background-color: #f9fdff;
    /*background: linear-gradient(to bottom, #dbe9f9 0%, #8eb5ec 100%);*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center;
    background-color: #c1c7dc; /* Azul intenso */
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.tab {
text-decoration: none;
margin: 0 15px;
color: #080808;
font-size: 1rem;
transition: color 0.3s, background-color 0.3s;
padding: 8px 12px;
border-radius: 5px;
}

.tab:hover {
background-color: #0d47a1;
color: #fff;
}

.tab:active {
color: #FFD700;
background-color: #003c8f;
}

/* Acceso restringido */
#restriccion {
background-color: #ef5350; /* Rojo coral */
color: white;
padding: 50px;
text-align: center;
font-size: 1.2rem;
border-radius: 10px;
max-width: 800px;
margin: 20px auto;
}

/* Servicios */
#services {
text-align: center;
/*padding: 50px 20px;*/
}

.servicio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.servicio-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.servicio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Galería de imágenes */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Placeholder suaves y amigables */
input::placeholder, textarea::placeholder {
color: #888;
font-style: italic;
}

.footer {
/*background-color: #1c3d7a;  azul tipo tu logo */
/*background: linear-gradient(110deg, #8eb5ec 0%, #1c3d7a 100%);*/
background: linear-gradient(135deg, #ffffff 15%, #6b8bb8 30%, #486997 50%, #1c3d7a 70%,#082457 100%);
padding: 30px 10px;
font-size: 14px;
border-top: 1px solid #ccc;
}

.footer-container {
display: grid;
grid-template-columns: 2fr 1fr; /* izquierda más ancha que derecha */
gap: 40px;
align-items: start;
/*margin-top: 10px;  Un poco de espacio arriba */
max-width: 1250px;
margin: 0 auto;
}

.footer-left {
display: flex;
flex-direction: column;
}

.footer-logo {
width: 180px; /* o el tamaño que prefieras */
height: auto;
margin-bottom: 15px;
}

.footer-info {
display: flex;
flex-direction: column;
gap: 10px;
}

.address-wrap {
display: flex;
align-items: center;
gap: 10px; /* Espacio entre el ícono y el texto */
color: #020202;
}

.footer-info p {
margin: 0;
}

.footer-info img {
width: 25px; /* Tamaño de los icono */
height: auto;
}

.footer-right {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.footer-right h3 {
/*font-size: 1.3rem;*/
font-weight: bold;
margin-bottom: 20px;
text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
color: white;
font: 1.5em Georgia, "Bitstream Charter","URW Bookman L", "Century Schoolbook L", serif;
}

.newsletter {
background-color: rgba(255, 255, 255, 0.1); /* fondo semi-transparente */
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
width: 100%;
max-width: 350px;
}    
/*display: flex;
gap: 8px;
margin-top: 10px;
align-items: center;*/


.newsletter input {
flex: 1;
padding: 8px;
border-radius: 6px;
border: 1px solid #bebdbd;
font-size: 0.9rem;
background-color: #fff;
color: #333;
}

.newsletter button {
padding: 10px 16px;
border: none;
background: #ffbe25;
color: #4074d4;
font-weight: bold;
border-radius: 6px;
cursor: pointer;
transition: background 0.3s ease;
}
.newsletter button:hover {
background: #ffc933;
}

/* Agregar estilo para el footer de la página */
.footer-copy {
margin-top: 15px;
font-size: 0.85rem;
color: #020202;
text-align: left;
}

@media (max-width: 768px) {
body {
font-size: 0.95rem;
}

.footer-container {
grid-template-columns: 1fr;
gap: 20px;
}

.footer-right {
align-items: flex-start;
}

.newsletter {
flex-direction: column;
align-items: stretch;
}
}