/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 18px;
    position: relative;
    min-height: 100vh;
}
/* Logo */
#logo {
    display: block; /* Asegura que se comporte como un bloque */
    margin: 6 auto; /* Centra el logo horizontalmente */
    width: 80px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción del logo */
    max-width: 95%; /* Asegura que no se desborde en pantallas pequeñas */
}

/* Título */
h1.titulo {
    color: #7e9097;
    text-align: center; /* Alineado a la izquierda */
    font-size: 40px; /* Aumentar tamaño */
    margin: 12px 0; /* Margen superior e inferior */
    /*margin-left: 210px; /* Alinear título con la imagen */
}

/* Tablas */
.custom-table, .table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    table-layout: auto;
}

table th, table td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: hidden; /* Evitar que el contenido desborde las celdas */
    text-overflow: ellipsis; /* Puntos suspensivos para contenido largo */
}

table th {
    background-color: #bfcfe0;
    color: #161616;
}

.table tr {
    height: 40px; /* Ajusta el alto de las filas */
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #ffffff; /* Efecto hover en filas */
}

/* Botones */
button, input[type="submit"], .btn {
    background-color: #007bff;
    color: #161616;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover, input[type="submit"]:hover, .btn:hover {
    background-color: #0056b3;
}

/* Formularios */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form input[type="text"], form input[type="number"], form input[type="date"], form textarea, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Contenedor */
.container {
    max-width: 1200px; /* Ajustado para mejor visualización en diferentes pantallas */
    margin: 0 auto;
    padding: 20px;
}

/* Paginación */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
}

.pagination .page-item.disabled .page-link {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}

/* Fondo con imagen */
.with-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/images/foto.png');
    background-size: 72% auto;
    background-position: center -185px;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: 0;
}

/* Estilo del contenedor de login */
.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 100px auto;
    position: relative;
    z-index: 1;
}

/* Títulos del login */
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Formularios en login */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botón de login */
.login-button {
    background-image: url('/static/images/inicio.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
}

.login-button:hover {
    background-color: #efff0e;
}

/* Mensajes de error */
.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

/* Botones de acción */
.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.action-buttons a {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    color: #131212;
}

/* Botón Detalles */
.action-buttons .btn-info {
    background-color: #dde3e4;
}

.action-buttons .btn-info:hover {
    background-color: #007bff;
}

/* Botón Editar */
.action-buttons .btn-warning {
    background-color: #f0f0f0;
    color: black;
}

.action-buttons .btn-warning:hover {
    background-color: #ffc107;
    color: #f5f3f3;
}

/* Botón Eliminar */
.action-buttons .btn-danger {
    background-color: #f0f0f0;
    color: black;
}

.action-buttons .btn-danger:hover {
    background-color: #dc3545;
    color: white;
}
